<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facts About Cats and Dogs</title>
</head>
<body>
    <h1>App About Cats and Dogs</h1>
    <h2>Facts About Cats</h2>

    <h3>{{ cat_data }}</h3>

    <form action="" method="get">
      <input type="submit" name="cat" value="Get Cat Fact" />
    </form>
</body>
<body>
  <h2>Facts About Dogs</h2>

  <h3>{{ dog_data }}</h3>

    <form action="" method="get">
      <input type="submit" name="dog" value="Get Dog Fact" />
    </form>
</body>
</html>
